* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    line-height: 1.5;
    font-family: 'Mulish',
        sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    background: #F5F5F5;
    color: #525252;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #2B7A78;
    font-weight: 600;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-family: 'Mulish',
        sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    background: none;
    border: 1px solid #2B7A78;
    color: #2B7A78;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 0.5rem;
    transition: all 0.25s linear;
}

header button:hover {
    background: #2B7A78;
    color: #F5F5F5;
}

.container {
    max-width: 1200px;
    margin: 2rem auto 0;
    padding: 0 2rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.main-container {
    display: flex;
    max-width: 996px;
    width: 90%;
    background: #FEFEFE;
    border-radius: 1.9rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-img {
    max-width: 406px;
    flex: 1;
    background: #B8D3D2;
    border-radius: 2rem 0 0 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}

.signup-img img {
    border-radius: 2rem 0 0 2rem;
}

.form-wrapper {
    flex: 1;
    margin-top: 4rem;
    padding: 0 3rem;
}

.form-text {
    max-width: 400px;
    margin: 0 auto 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
}

p {
    text-align: center;

}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: .5rem;
}

input {
    width: 100%;
    padding: .8rem 0 .8rem 3rem;
    display: inline-block;
    border: 1px solid #979797;
    border-radius: .5rem;
    font-size: 1.125rem;
    color: #272727;
    margin-bottom: 1rem;
    font-family: 'Mulish',
        sans-serif;
    outline: none;
}

.input-icon {
    position: absolute;
    left: 18px;
    bottom: -43px;
    z-index: 2;
}

.eye-off {
    left: 88%;
    cursor: pointer;
}

.eye {
    display: none;
    cursor: pointer;
    left: 88%;
}

input[type="submit"] {
    background: #2B7A78;
    color: #FEFEFE;
    font-size: 1rem;
    border: 1px solid #2B7A78;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}

.terms {
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-bottom: 1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: .5rem;
    cursor: pointer;
    transform: translateY(4px);
}

input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus {
    border: 1px solid #2B7A78;
    outline: 1.2px solid #2B7A78;
}

.login-link {
    display: block;
    width: 7.5rem;
    margin: .5rem auto 0;
}

.terms label {
    font-size: .95rem;
}

h4 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #2B2B2B;
    text-align: center;
    margin: 1rem 0 1.5rem;
}

.signup-with {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    flex-wrap: wrap;
    max-width: 396px;
    width: 100%;
    margin: 0 auto;
}

.signup-with button {
    color: #2B2B2B;
    font-weight: 700;
    padding: 0.5rem 0;
    width: 184px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-with button img {
    margin-right: .7rem;
}

.signup-text {
    font-family: 'Poppins',
        sans-serif;
        margin: 2rem 0 5rem;
        font-size: 1rem;
}

.signup-text-link {
    font-family: 'Poppins',
        sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 699px) {
    .main-container {
        flex-direction: column;
    }

    .signup-img {
        max-width: 100%;
        border-radius: 2rem 2rem 0 0;
        height: 250px;
    }

    .signup-img img {
        border-radius: 2rem 2rem 0 0;
    }

    .form-wrapper {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 1106px) {
    .signup-with {
        flex-direction: column;
    }

    .signup-with button {
        width: 100%;
    }
}

@media screen and (max-width: 999px) {
    .main-container {
        flex-direction: column;
        max-width: 600px;
        width: 90%;
    }

    .signup-img {
        border-radius: 0;
        background: #F5F5F5;
        max-width: 100%;
        padding-bottom: 3rem;
    }
}